<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Bootstrap CSS -->
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous"
  />

  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/clientSearchParams.js"></script>
</head>

<body>

<!---------------------- Nav Bar --------------------------->
  <%- include('partials/nav-bar') %>


 <!---------------------- Header --------------------------->
  <header>
    <div class="jumbotron">
      <h1>Welcome to Buy & Sell!</h1>
      <p>A platform that connects buyers and sellers. Members can post items for sale, and buy items from our partnered sellers.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign In</a></p>
    </div>
  </header>

<hr class="hr hr-blurry" /> <!--Horizontal Spacing -->

 <!---------------------- Ad Listings --------------------------->
<div class="box">

  <% listings.forEach(listing => { %>
    <div class="item" id="One">
      <div class="thumbnail">
        <img src="<%= listing.image_path%>" alt="<%= listing.title%>">
        <div class="caption">
          <h3><%= listing.title %></h3>
          <p><%= listing.price_cents %></p>
          <p><%= listing.description %></p>
          <p class="listing-buttons">
            <a href="/listings/<%= listing.id %>" class="btn btn-primary" role="button">Purchase</a>
            <i class="fa-regular fa-heart items-heart-icon"></i>
          </p>
        </div>
      </div>
    </div>
  <% }); %>

</div> <!--BOX -->

<div class="page-selector">
  <button class="previous-page"><</button>
  <span class="current-page"><%= filterObj.currentPage %></span>
  <button class="next-page">></button>
</div>

<hr class="hr hr-blurry" /> <!--Horizontal Spacing -->
<hr class="hr hr-blurry" />

<%- include('partials/footer') %>


<!---------------------- Bootstrap JS --------------------------->

  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
</body>

</html>
